/*
Blog Style
*/
.post-thumb{
    img{
        @include transition(all 0.3s);
    }
    &:hover{
        img{
            transform: translateY(-5px);
            box-shadow: 0px 0px 20px rgba($dark-color,.15);
        }
    }
}
.blog-item{
    a{
        display: inline-block;
        h4{
           font-weight: 500;
           @include transition(all .3s);
           font-size: 22px;
           text-transform: capitalize;
           letter-spacing: 0;
           margin-top: .5rem;
           margin-bottom: 1.25rem;
        }
        &:hover h4{
            color: $skin-color;
        }
    }
}
.media{
    img{
        @include box-shadow(0px 3px 5px rgba($dark-color,.15));
    }
    h6{
        font-size: 13px;
        text-transform: uppercase;
    }
}
.comment-beta{
    font-size: 12px;
    font-weight: 400;
}