/*
08 - Hero Templates Style
*/
.fullscreen-hero{
    height: 100vh;
}
.half-hero{
    height:auto;
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.hero{
    position:relative;
    .hero-overlay{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba($skin-color,.65);
        z-index: 1;
        &.hero-gradient{
        background-color: rgba($skin-color,.5);
        background-image: -webkit-linear-gradient(0deg, rgba($skin-color,.5), rgba($skin-secondary,.5));
        background-image: linear-gradient(90deg, rgba($skin-color,.5), rgba($skin-secondary,.5));
        }
    }
    &.dark{
        .text-large,p{
            color:#fff;
        }
    }
    .text-large{
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1rem;
        letter-spacing: -1px;
        font-weight: 300;
        text-transform:capitalize;
    }
    .type-text{
        font-weight: 700;
    }
    .lead{
        margin-bottom: 2rem;
        opacity: .75;
    }
}
.hero-parallax{
    height: 100%;
    width:100%;
    position: relative;
    z-index: 4;
}
.hero-inner{
    display: table;
    width: 100%;
    height: 100%;  
    position:relative;
    .hero-content{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}
.mouse-down{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1rem;
    text-align: center;
    z-index:99;
    a{
        color: #fff;
        font-size: 2rem;
        font-weight: lighter;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        display: inline-block;
        &:hover{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
     }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
     }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
     }
     }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
     }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
     }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
     } 
    }
.parallax-text{
    h2{
        color:#fff;
        font-size: 3.5rem;
        line-height: 5.5rem;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $title-font;
    }
}

