/*
13 - Pricing tables
*/
.price-box{
    background: transparent;
    text-align: center;
    border:1px solid $default-color;
    overflow: hidden;
    @include border-radius(5px);
    margin-bottom:.5rem;
    margin-top: .5rem;
    h3{
        margin: 0px;
        font-size: 1.25rem;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid $default-color;
        background-color: rgba($skin-color,.05);
        text-transform: uppercase;
        font-size: 14px;
    }
    h2{
        font-size: 5rem;
    padding: 0px 15px;
    line-height: 3rem;
    margin: 34px 0;
    font-family: $default-font;
    font-weight: 900;
        sup{
            font-size: 13px;
            font-family: $default-font;
            font-weight: 400;
            vertical-align: top;
            position: relative;
            left: 10px;
        }
    }
    ul{
        margin-bottom: 0px;
        li{
            padding:.5rem 1rem;
            &:nth-child(odd){
                background-color: rgba($skin-color,.025);
            }
        }
    }
    &.best-value{
        position: relative;
        @include box-shadow(0px 0px 8px rgba($skin-color,.15));
        border:0px;
        h3{
            color: #fff;
            background-color: $skin-color;
        }
        h2{
            color: $skin-color;
        }
        .best-label{
            position: absolute;
            right: -40px;
            top: 16px;
            background: #fff;
            color:$skin-color;
            width: 160px;
            font-size: 13px;
            height: 40px;
            line-height: 40px;
            @include transform(rotate(45deg));
        }
    }
}
.price-footer{
    padding: 25px 15px;
}