$skin-color:#5d33fb; //replace this color code with your favorite one
$skin-active:#492bbb;
$skin-secondary:#b161fc; // Secondary gradient color for brand
$default-font: 'Roboto', sans-serif; //default font of this template
$title-font:'Poppins', sans-serif; // title font of this template
$base-color:#777386;
$dark-color:#191233;
$dark-active:#0c0918;
$default-color:#e5e2f3;
$default-active:#d7d2ea;
$red-color:#e74955;
$sea-green-color:#06d291;
$green-color:#a5d16c;
$blue-color:#32b3f6;
$yellow-color:#FFB400;
$gold-color:#dbcf08;
$purple-color:#9D4A9C;
$orange-color:#F37B53;


